<script>
    function expand() {
    $('.collapse').collapse('show');
}
        function collapse() {
    $('.collapse').collapse('hide');
}
</script>


<button type="button" class="btn btn-outline-primary" onclick="expand();">Open all</button>
<button type="button" class="btn btn-outline-primary" onclick="collapse();">Close all</button>


{{ $path := .Get "path" }}
{{ $files := readDir $path }}
{{ $count := 0}}
{{ $fileslice := slice }}
<br>
{{ range $files }}
    {{ if and (ne .Name ".github") (ne .Name ".git") }}
    {{ if .IsDir }}
        {{ $month := substr .Name 0 2}}
        {{ $day := substr .Name 3 2}}
        {{ $yr := substr .Name 6 4}}
        {{ $fixed := printf "%s%s%s" $yr $month $day}}
        {{ $fileslice = $fileslice | append $fixed }}
    {{ end }}
    {{ end }}
{{ end }}


<div class="accordion">
    {{ range sort $fileslice "value" "desc"}}
        {{ $fname := printf "%s.%s.%s" (substr . 4 2) (substr . 6 2) (substr . 0 4)}}
        {{ $fpath := printf "%s/%s" $path $fname}}
        {{ $subfolds := readDir $fpath }}
        {{ $map := getJSON (printf "%s/manifest.json" $fpath) }}
        {{ $count = add $count 1 }}

        <div class="card">
            <div class="card-header" id="header{{$count}}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{$count}}" aria-expanded="true" aria-controls="collapse{{$count}}">
                        {{ $fname }}
                    </button>
                </h2>
            </div>
            
            <div id="collapse{{$count}}" class="collapse {{ if eq $count 1}} show {{end}} " aria-labelledby="heading{{$count}}">
                <div class="card-body">
                
                    {{ if fileExists (printf "%s/TXT" $fpath) }}

                        {{ range readDir (printf "%s/TXT" $fpath) }}
                            {{ $subfold := "TXT"}}
                            {{ $sfpath := printf "%s/%s" $fpath "txt"}}
                                            
                            {{ $id := strings.TrimSuffix (printf ".%s" $subfold) .Name}}
                            {{ $sffpath := printf "%s/%s" $sfpath .Name }}
                            {{ $file := readFile $sffpath }}
                            {{ $ent := index $map $id }}
                            
                            {{ if ne $ent nil}}
                                {{ $desc := index $ent "desc"}}
                                <b>{{ $desc }}</b> <br>
                                <pre style="white-space: pre-wrap;">{{ trim $file "\n\r " }}</pre>
                                <hr>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <h2>Other formats</h2>
                    <div class="accordion">
                        {{ if fileExists (printf "%s/PDF" $fpath)}}
                            {{ $subfold := "PDF" }}
                            {{ $sfpath := printf "%s/PDF" $fpath}}

                            {{ range readDir $sfpath }}
                                <div class="card">
                                    <div class="card-header" id="headerPDF{{$count}}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePDF{{$count}}" aria-expanded="true" aria-controls="collapsePDF{{$count}}">
                                                PDFs
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapsePDF{{$count}}" class="collapse" aria-labelledby="headingPDF{{$count}}">
                                        <div class="card-body">
                            
                                            {{ range (readDir $sfpath) }} 
                                                {{ $id := strings.TrimSuffix (printf ".%s" $subfold) .Name}}
                                                {{ $sffpath := printf "%s/%s" $sfpath .Name }}
                                                {{ $ent := index $map $id }}

                                                {{ if ne $ent nil}}
                                                    {{ $desc := index $ent "desc"}}
                                                    <b>{{ $desc }}</b> <br>
                                                    <a href="{{strings.TrimPrefix "./content" $sffpath}}" target="_blank">click here to view</a>
                                                {{ end }}
                                            {{ end }}

                                        </div>
                                    </div>
                                </div>
                            {{end}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
</div>